/* Reset */
*{
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}
/* Main styling */
html,body{
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  line-height: 1.7em;
}
a{
  text-decoration: none;
}

/* Classes we can use more the one (classes we can reuse) into our entire site*/
.containerNav{
  margin: auto;
  max-width: 1100px;
  overflow:auto;
  padding:0 20ox;
}
.text-primary{
  color:#f7c08a
}
.lead{
  font-size:20px;
}
.btn{
  display:inline-block;
  font-size:18px;
  color:#fff;
  background-color: #333;
  padding:13px 20px;
  border:none;
  cursor: pointer;
}
.btn:hover{
  background-color:#f7c08a;
  color:#333;
}
.btn-light{
background-color:#f4f4f4;
color:#333; 
}
.bg-dark{
  background-color: #333;
  color:#fff;
}

.bg-light{
  background-color: #f4f4f4;
  color:#333;
}

.bg-primary{
  background-color: #f7c08a;
  color:#333;
}
/* navbar makeup*/
#navbar{
  background-color:#333;
  color:#fff;
  overflow:auto;
}
#navbar a {
color:#fff;
}
#navbar h1{
  float:left;
  padding-top:22px; 
}
#navbar ul{
  float:right;
  list-style: none;
}

#navbar ul li{
  float :left;
}

#navbar ul li a{
  display:block;
  padding: 20px;
  text-align: center;
}

#navbar ul li a:hover, 
#navbar ul li a.current{
  background-color: #444;
  color:#f7c08a
}

/* header makeup */
#header-box{
  background-image: url('../img/showcase.jpg');
  background-repeat: none;
  background-size: cover;
  background-position: center center;
  height:600px;
}
.header-content-box{
  text-align: center;
  padding-top: 170px;
  color:white;
}
#header-box .header-content-box h1{
  font-size:60px;
  line-height: 1.2em;
  padding-bottom: 20px;
}

#header-box .header-content-box p{
padding-bottom: 20px;
line-height: 1.5em;
}

/* Home info */
#home-info{
 height:400px; 
}

#home-info .info-img{
  background-image:url('../img/photo-1.jpg');
  background-repeat: no-repeat;
  min-height: 100%;
  height: 100%;
  width: 50%;
  float:left;
}

#home-info .info-content{
  padding:50px 30px;
  text-align: center;
  width: 50%;
  height: 100%;
  float:right;
  overflow: hidden;
}

#home-info .info-content p{
  padding-bottom:30px;
}

/* features */
.box{
  float:left;
  width: 33.3%;
  padding:50px;
  text-align: center;

}

.box i{
  margin-bottom: 10px;
}

/* footer makeup*/
#main-footer{
  clear:both;
  text-align: center;
  background-color: #444;
  padding:20px;
}
